
.adminForm {
    width: 20%;
    position: relative;
    left: 35%;
    
}
.outerborder{
position: relative;
left:15%;
width:70%;

-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow : 0 8px 6px -6px black;

}
.btnstyle{
padding: 2%;
position: relative;
top: 25%;
}

.detailspanel{
    width: 50% !important;
    position: relative;
    left: 25%;
    background-color: black;
color: red;
font-weight: bold;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow : 0 8px 6px -6px black

}
 .covidtable{
width: 50% !important;
position: relative;
left: 25%;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow : 0 8px 6px -6px black
 }