
.adminForm {
    width: 20%;
    position: relative;
    left: 35%;
    
}
.btnstyle{
padding: 2%;
position: relative;
top: 25%;
}

.detailspanel{
    width: 100% !important;
    background-color: black;
color: red;
font-weight: bold;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow : 0 8px 6px -6px black

}



