.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.col-12,
.col-6,
.col-md-8,
.col-md-6,
.col-md-4 {
padding: 1rem;
border: 2px solid #fff;

text-align: center;
}
.panelboxactive {
  height: 120px;
  width: 100%;
  background-color: #b6a12e;
  text-decoration: black;
  padding: 12%;
  font-weight: bold;
}
#panelactive > h4,#panelrecovered > h4,#paneldeceased > h4{

  color: azure;
}
.panelboxrecovered {
  height: 120px;
  width: 100%;
  background-color: #25a130;
  text-decoration: black;
  padding: 12%;
  font-weight: bold;
}
.panelboxdeceased {
  height: 120px;
  width: 100%;
  background-color: hsl(0, 52%, 49%);
  text-decoration: black;
  padding: 12%;
  font-weight: bold;
}
.covidlastupdated{
color: black;


}

.covidtable{
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow : 0 8px 6px -6px black;
  
  }
  .tableheader{
    
     
}
    table.table thead th{
      font-weight: bold !important; 
      color:white;
      background-color: brown;
    }
    table.table td {
      font-weight: bold !important; 
      background-color:whitesmoke;
      color: rgb(10, 8, 8); 
     
      
    }
    
    
   
   