.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.col-12,
.col-6,
.col-md-8,
.col-md-6,
.col-md-4 {
padding: 1rem;
text-align: center;
}
.panelboxactive {
  border-radius: 25px;
  height: 120px;
  width: 100%;
  background-color: #e9e0b1;
  text-decoration: black;
  padding: 12%;
  font-weight: bold;
}
#panelactive > h4{

  color: #635409;
}
#panelrecovered > h4{
  color: #1b461e;

}
#paneldeceased > h4{

  color: hsl(0, 48%, 41%);
}

.panelboxrecovered {
  border-radius: 25px;
  height: 120px;
  width: 100%;
  background-color: #bbf7c0;
  text-decoration: black;
  padding: 12%;
  font-weight: bold;
}
.panelboxdeceased {
  border-radius: 25px;
  height: 120px;
  width: 100%;
  background-color: hsl(0, 85%, 92%);
  text-decoration: black;
  padding: 12%;
  font-weight: bold;
}
.covidlastupdated{
color: black;


}

.covidtable{
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow : 0 8px 6px -6px black;
  
  }
    table.table thead th{
    
      font-weight: bold !important; 
      color:rgb(102, 32, 32);
      background-color: rgb(250, 243, 243);
    }
    table.table td {
      font-weight: bold !important; 
      background-color:whitesmoke;
      color: rgb(10, 8, 8); 
     
      
    }
    #root > div > div > div.container > div:nth-child(2) > div:nth-child(1) > h5{
      border-radius: 25px;
      background-color: rgb(197, 231, 231);
     height: 150px;
      padding: 12%;
      color:teal;
    }

    #root > div > div > div.container > div:nth-child(2) > div:nth-child(1) > h5 > b:nth-child(3){

      color:darkred;
     
      
    }
    #rootcomp > div{
      border-radius: 25px;
      background-color: rgb(197, 231, 231);
      height: 100px;
      padding: 7%;
}
#rootcomp > div.hoverable > h6:nth-child(2) > b{

  color: rgb(6, 82, 82);
  font-weight: bold;
}
#rootcomp > div.hoverable > h6:nth-child(1) > b{
  color: rgb(6, 82, 82);
  font-weight: bold;
}

#root > div > div > div.row > div > nav > a{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(6, 82, 82);
  width: 20%;
}
#root > div > div > div.row > div > nav > div > a{
  color: rgb(6, 82, 82);
  font-weight: bold;

}
    
    
   
   